<h3><%= @question.title %></h3>

<p>
  <%= "Posted by #{@question.author} at #{@question.created_at}" %>
</p>

<h4>Description</h4>
<p>
  <%= @question.description %>
</p>
<%= button_to "Edit", edit_question_path(@question), method: :get %>
<%= button_to "Delete Question", @question, method: :delete %>

<h4>Answers</h4>

<% @question.answers.reverse_each do |answer| %>
  <%=  answer.description %>
  <p class='small'>
    posted by  <%= answer.author %> at <%= answer.created_at %>
  </p>
<% end %>
<hr>
<h5>Post New Answer</h5>
<%= form_for [@question, @answer] do |f| %>
  <%= f.label :author %>:
  <%= f.text_field :author %><br>

  <%= f.label :description %>:
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>
