<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <% if flash.any? %>
    <div>
      <%= flash[:notice] %>
    </div>
  <% end %>
 -->
  <h1 class='page-header'>Questions Center</h1>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>




  <%= yield %>

  <center>
    <div class='navbar-fixed-bottom foot'>
      <a href='/questions'>Questions Home</a> | <a href='/questions/new'>New Question</a>
    </div>
  </center>
</body>
</html>
